{# security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{% trans %}Connexion{% endtrans %}{% endblock %}

{% block form_header %}
  {% trans %}Formulaire de connexion{% endtrans %}
{% endblock %}

{% block form_description %}
  {% trans %}Veuillez renseigner les champs suivants afin de pouvoir vous connecter sur le site{% endtrans %}
{% endblock %}

{% block form_body %}
  <form method="post">
    <div class="row">
      <label for="inputEmail" class="form-label">{% trans %}E-mail{% endtrans %} *</label>
      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required="required" autofocus="autofocus" placeholder="{{ 'Entrez votre adresse e-mail'|trans }}">
    </div>
    <div class="row">
      <label for="inputPassword" class="form-label">{% trans %}Mot de passe{% endtrans %} *</label>
      <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required="required" placeholder="{{ 'Entrez votre mot de passe'|trans}}">
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="row"><a href="{{ path('app_forgot_password_request') }}">{% trans %}Mot de passe perdu ?{% endtrans %}</a></div>
{% endblock %}

{% block form_footer %}
  <div class="row">
      <button class="btn btn-lg btn-primary" type="submit">
        {% trans %}Connexion{% endtrans %}
      </button>
  </div>
</form>
{% endblock %}
