{# registration/register.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Enregistrement{% endblock %}

    {% block form_header %}
        Formulaire d'inscription sur le site devMemories
    {% endblock %}
    {% block form_description %}
        Merci de renseigner les champs suivant afin de pouvoir vous enregistrer sur le site
    {% endblock %}
    {% block form_body %}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
    {% endblock %}
    {% block form_footer %}
        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    {% endblock %}
