{# templates/dashboard/color/_list.html.twig #}

<article class="tree-color-container"  id="color-list"  style="display:none">
    {% for color in colors %}
        <div
            class="badge rounded-pill badge-color
                {% if colors|length > 50 %}
                    col-1
                {% elseif colors|length > 40 %}
                    col-2
                {% elseif colors|length > 30 %}
                    col-3
                {% elseif colors|length > 20 %}
                    col-4
                {% else %}
                    col-5
                {% endif %}
                "
        data-id="{{ color.id }}" data-text-color="{{color.codeText}}" data-bg-color="{{color.codeBg}}" data-bind="{{color.categories|length}}" id="badge_{{color.id}}"
            style="color: {{ color.codeText}}; background: {{ color.codeBg }}" >
            {{ loop.index }}
        </div>
    {% endfor %}
</article>

<script>
// Function to handle the color update
    const colors = document.querySelectorAll(".badge-color");
    colors.forEach(color => {
        color.addEventListener('click', function() {
            document.getElementById('color_edit_form').style.display = 'block';
            document.getElementById('color_edit_form_code_text').value = this.dataset.textColor;
            document.getElementById('color_edit_form_code_bg').value = this.dataset.bgColor;
            document.getElementById('color_update_id').value = this.dataset.id;
            // Display the delete button only when the color has no category bound
            document.getElementById('color_edit_form_delete').style.display = this.dataset.bind > 0 ? 'none' : 'block';
            document.getElementById('color_edit_form_nb_cat').innerHTML = this.dataset.bind > 0 ? this.dataset.bind : '';
        })
    })
    // Add a shadow if color is bound with one or many categories
    colors.forEach(color => {
        color.style.border = color.dataset.bind > 0 && '1px solid #212529';
    })
</script>
