{# templates/dashboard/content/_advanced_table.html.twig #}

{# <div class="row mb"> #}
	<div class="content-panel">
		<div class="adv-table">
			<table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
				<thead>
					<tr>
						<th>1</th>
						<th>{% trans %}Type{% endtrans %}</th>
						<th>{% trans %}Titre{% endtrans %}</th>
						<th>{% trans %}Description{% endtrans %}</th>
						<th>{% trans %}Mode{% endtrans %}</th>
						<th>{% trans %}Publié{% endtrans %}</th>
						<th>{% trans %}Catégorie{% endtrans %}</th>
						<th>{% trans %}Actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for content in contents %}
						<tr class="gradeA {% if loop.index is even %} even {% else %} odd {% endif %}">
							<td class="center">
								<img class="toggle-img" src="{{asset('dashboard/build/images/details_open.png', 'dashboard')}}">
							</td>
							<td class="center">{{content.type.label}}</td>
							<td class="center">{{content.title}}</td>
							<td class="center">{{content.description}}</td>
							<td class="center">{{content.private}}</td>
							<td class="center">{{content.published}}</td>
							<td class="center">
								{% if content.category.label is defined %}
								{{content.category.label}}
								{% endif %}
							</td>
							<td class="center"></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{# </div> #}
