{# templates/dashboard/content/_contentTable.html.twig #}

<div class="content-panel">
	<div class="adv-table">
		<table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
			<thead>
				<tr>
					<th class="text-center" title="Plus d'infos"><i class="fas fa-info-circle"></i></th>
					<th style>{% trans %}Id{% endtrans %}</th>
					<th style>{% trans %}Date{% endtrans %}</th>
					<th style>{% trans %}Date{% endtrans %}</th>
					<th style>{% trans %}Type{% endtrans %}</th>
					<th>{% trans %}Titre{% endtrans %}</th>
					<th>{% trans %}Description{% endtrans %}</th>
					<th>{% trans %}Contenu{% endtrans %}</th>
					<th><i class="fas fa-user-lock" title="Privé ?"></i></th>
					<th>{% trans %}<i class="fas fa-file-export" title="publié ?"></i>{% endtrans %}</th>
					<th>{% trans %}Catégorie{% endtrans %}</th>
					<th>{% trans %}Actions{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for content in contents %}
					<tr class="gradeA {% if loop.index is even %} even {% else %} odd {% endif %}">
						<td class="text-center">
							<img class="toggle-img" src="{{asset('dashboard/build/images/details_open.png', 'dashboard')}}">
						</td>
						<td class="center">{{content.id}}</td>
						<td class="center" title="{{content.updatedAt|date("d/m/Y à H:i")}}">{{content.updatedAt| date("d/m/Y")}}</td>
						<td class="center" title="{{content.createdAt|date("d/m/Y à H:i")}}">{{content.createdAt| date("d/m/Y")}}</td>
						<td class="center">{{content.type.label}}</td>
						<td title="{{content.title}}">{{content.title | u.truncate(50, ' ...')}}</td>
						<td title="{{content.description}}">{{content.description | u.truncate(75, ' ...')}}</td>
						<td class="center">{{content.content}}</td>
						<td class="text-center">
							<div class="form-check form-switch">
							<span style="display:none">{{content.private}}</span>
								<input class="form-check-input" value="content.private" type="checkbox" name="private" id="private_{{ content.id }}" data-id="{{ content.id }}" {{ content.private ? 'checked' : null}}>
							</div>
						</td>
						<td class="text-center">
							<span style="display:none">{{content.published}}</span>
								<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" name="published" id="published_{{ content.id }}" data-id="{{ content.id }}" {{ content.published ? 'checked' : null}}>
							</div>
						</td>
						<td class="center">
							{% if content.category.label is defined %}
							{{content.category.label}}
							{% endif %}
						</td>
						<td class="text-center ">
							<a href="{{ path('dashboard_content_edit', { slug: content.slug }) }}" role="button" aria-pressed="true" alt="Modifier le contenu" title="modifier"><i class="fas fa-edit fa-2x"></i></a>

							<i class="fas fa-trash fa-2x" role="button" data-bs-toggle="modal" data-bs-target="#modal" data-slug="{{ content.slug }}"  data-title="{{ content.title }}" onclick="deleteModalConfirm({{ content.id }})" id="deleteButton_{{ content.id}}" aria-pressed="true" title="Supprimer" style="with:10em"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script>

    // Set the modal content
    function deleteModalConfirm(id) {
        const el = document.getElementById(`deleteButton_${id}`);
        const message = `Êtes-vous sur de vouloir supprimer le contenu contenant le titre <b>${el.dataset.title}</b> ?`
        document.getElementById('modal-title').innerHTML = "Suppression d'un contenu" ;
        document.getElementById('modal-content').innerHTML = message;
        document.getElementById('delete-confirm').href = `/dashboard/contents/delete/${el.dataset.slug}`
    }

	window.onload = () => {
		let privateCheckbox = document.querySelectorAll("[id*=private_]")
		for(let checkbox of privateCheckbox) {
			checkbox.addEventListener("click", function(){
				let xmlhttp = new XMLHttpRequest
				xmlhttp.open("get", `/dashboard/contents/switchPrivate/${this.dataset.id}`)
				xmlhttp.send()
			})
		}

		let publishedCheckbox = document.querySelectorAll("[id*=published_]")
		for(let checkbox of publishedCheckbox) {
			checkbox.addEventListener("click", function(){
				let xmlhttp = new XMLHttpRequest
				xmlhttp.open("get", `/dashboard/contents/switchPublished/${this.dataset.id}`)
				xmlhttp.send()
			})
		}
	}
</script>