{# templates/dashboard/content/home.html.twig #}

{% extends 'dashboard/base.html.twig' %}

{% block head %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.25/datatables.min.css"/>
{% endblock %}
{% block title %}{% trans %}Liste de mes contenus{% endtrans %}
{% endblock %}
{% block breadcrumb %}
  {{ parent() }}
  Mes contenus
{% endblock %}
{% block body %}
  <section id="content-container">
    <h3>Liste de mes contenus</h3>
    {% include "dashboard/content/_advanced_table.html.twig" %}
  </section>

  <pre>
    {{ dump(contents) }}
</pre>
{% endblock %}

{% block js %}
  {{ parent() }}

  <script src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>

  <script type="text/javascript">

    /* Formating function for row details */

    $(document).ready(function () {

      function fnFormatDetails(oTable, nTr) {
        var aData = oTable.fnGetData(nTr);
        var sOut = '<table cellpadding="0" cellspacing="0" border="0" class="table-details">';
        sOut += '<tr class="tr-details"><td class="td-details">Rendering engine:</td><td class="td-details">' + aData[1] + ' ' + aData[4] + '</td></tr>';
        sOut += '</table>';

        return sOut;
      }
      /*
			* Initialse DataTables, with no sorting on the 'details' column
			*/
      var oTable = $('#hidden-table-info').dataTable({
        "iDisplayLength": 25,
        "aoColumnDefs": [
          {
            "bSortable": false,
            "aTargets": [0]
          }
        ],
        "aaSorting": [
          [2, 'asc']
        ],

        aLengthMenu: [
          [
            10, 25, 50, -1
          ],
          [
            10, 25, 50, "Tous"
          ]
        ],
        language: {
          url: '//cdn.datatables.net/plug-ins/1.10.25/i18n/French.json'
        }
      });

      /* Add event listener for opening and closing details
			* Note that the indicator for showing which row is open is not controlled by DataTables,
			* rather it is done here
			*/
      const images = document.querySelectorAll(".toggle-img");
      for (let image of images) {
        image.addEventListener('click', function () {
          var nTr = $(this).parents('tr')[0];
          if (oTable.fnIsOpen(nTr)) {
            /* This row is already open - close it */
            this.src = "{{asset('dashboard/build/images/details_open.png', 'dashboard') }}";
            oTable.fnClose(nTr);
          } else {
            /* Open this row */
            this.src = "{{asset('dashboard/build/images/details_close.png', 'dashboard')}}";
            oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
          }
        })
      }
    });
  </script>
{% endblock %}
