{# templates/dashboard/content/home.html.twig #}

{% extends 'dashboard/base.html.twig' %}

{% block head %}
	{{ parent() }}
	{# <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.25/datatables.min.css"/> #}
	{% endblock %}
	{% block title %}{% trans %}Liste de mes contenus{% endtrans %}
	{% endblock %}
	{% block breadcrumb %}
		{{ parent() }}
		Mes contenus
	{% endblock %}
	{% block body %}
	<section id="content-container">
		<h3>Liste de mes contenus</h3>
		<div class="content-panel">
		<div class="adv-table">
			<table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
			<thead>
				<tr>
				<th class="text-center" title="Plus d'infos">
					<i class="fas fa-info-circle"></i>
				</th>
				<th style="style">{% trans %}Id{% endtrans %}</th>
				<th style="style">{% trans %}Date{% endtrans %}</th>
				<th style="style">{% trans %}Date{% endtrans %}</th>
				<th style="style">{% trans %}Type{% endtrans %}</th>
				<th>{% trans %}Titre{% endtrans %}</th>
				<th>{% trans %}Description{% endtrans %}</th>
				<th>{% trans %}Contenu{% endtrans %}</th>
				<th>
					<i class="fas fa-user-lock" title="Privé ?"></i>
				</th>
				<th>{% trans %}
					<i class="fas fa-file-export" title="publié ?"></i>{% endtrans %}</th>
				<th>{% trans %}Catégorie{% endtrans %}</th>
				<th>{% trans %}Actions{% endtrans %}</th>
				</tr>
			</thead>
			<tbody>
				{% for content in contents %}
				<tr class="gradeA {% if loop.index is even %} even {% else %} odd {% endif %}">
					<td class="text-center">
					<img class="toggle-img" src="{{asset('build/images/dashboard/advanced-table/details_open.png', 'app')}}">
					</td>
					<td class="center">{{content.id}}</td>
					<td class="center" title="{{content.updatedAt|date(" d/m/y à h:i")}}">{{content.updatedAt| date("d/m/Y")}}</td>
					<td class="center" title="{{content.createdAt|date(" d/m/y à h:i")}}">{{content.createdAt| date("d/m/Y")}}</td>
					<td class="center">{{content.type.label}}</td>
					<td title="{{content.title}}">{{content.title | u.truncate(50, ' ...')}}</td>
					<td title="{{content.description}}">{{content.description | u.truncate(75, ' ...')}}</td>
					<td class="center">{{content.content}}</td>
					<td class="text-center">
					<div class="form-check form-switch">
						<span style="display:none">{{content.private}}</span>
						<input class="form-check-input" value="content.private" type="checkbox" name="private" id="private_{{ content.id }}" data-id="{{ content.id }}" {{ content.private ? 'checked' : null}}>
					</div>
					</td>
					<td class="text-center">
					<span style="display:none">{{content.published}}</span>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" name="published" id="published_{{ content.id }}" data-id="{{ content.id }}" {{ content.published ? 'checked' : null}}>
					</div>
					</td>
					<td class="center">
					<ul>
						{% for category in content.categories %}
						<li>
							{{category.label}}
						</li>
						{% endfor %}
					</ul>
					</td>
					<td class="text-center ">
					<a href="{{ path('dashboard_content_edit', { slug: content.slug }) }}" role="button" aria-pressed="true" alt="Modifier le contenu" title="modifier">
						<i class="fas fa-edit fa-2x"></i>
					</a>

					<i class="fas fa-trash fa-2x" role="button" data-bs-toggle="modal" data-bs-target="#modal" data-slug="{{ content.slug }}" data-title="{{ content.title }}" onclick="deleteModalConfirm({{ content.id }})" id="deleteButton_{{ content.id}}" aria-pressed="true" title="Supprimer" style="with:10em"></i>
					</a>
				</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
</section>

{% endblock %}

{% block js %}
	{{ parent() }}
	{{ encore_entry_script_tags('datatables') }}
{% endblock %}
