{# templates/dashboard/common/_sidebar.html.twig #}
{% set route = app.request.get('_route') %}

<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            {# Photo + Nom utilisateur #}
            {# <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
                <h5 class="centered">Sam Soffes</h5> #}
            <li class="sub-menu">
                <a class="{{ route == 'dashboard_home' or route == '#' or not (route is defined) ? 'active' }} sidebar-top" href="{{ path('dashboard_home') }}">
                    <i class="fa fa-home"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-list-alt"></i>
                    <span>{% trans %}Mes contenus{% endtrans %}</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="#">
                            <i class="fas fa-archive"></i>
                            {% trans %}Tous les contenus{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-newspaper"></i>
                            {% trans %}Articles de veille{% endtrans %}
                        </a>
                    </li>
                    <li class="muted">
                        <i class="fas fa-code"></i>
                        {% trans %}Extraits de code{% endtrans %}
                    </li>
                    <li class="muted">
                        <i class="fas fa-keyboard"></i>
                        {% trans %}Raccourcis{% endtrans %}
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="{{ 'dashboard_resources' in route ? 'active' }}"  href="javascript:;">
                    <i class="fas fa-paperclip"></i>
                    <span>{% trans %}Mes ressources{% endtrans %}</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="#">
                            <i class="fas fa-key"></i>
                            {% trans %}Mots clés{% endtrans %}
                        </a>
                    </li>
                    <li class="muted">
                        <i class="fab fa-app-store-ios"></i>
                        {% trans %}Couleurs{% endtrans %}
                    </li>
                    <li class="muted">
                        <i class="fab fa-app-store-ios"></i>
                        {% trans %}Technologies{% endtrans %}
                    </li>
                    <li class="muted">
                        <i class="fas fa-comments"></i>
                        {% trans %}Notes{% endtrans %}
                    </li>
                    <li class="muted">
                        <i class="fa fa-link"></i>
                        {% trans %}Liens{% endtrans %}
                    </li>
                    <li class="muted">
                        <i class="fas fa-copyright"></i>
                        {% trans %}Applications{% endtrans %}
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a class="{{ 'dashboard_categories' in route ? 'active' }}" href="javascript:;">
                    <i class="fa fa-tags"></i>
                    <span>{% trans %}Mes catégories{% endtrans %}</span>
                </a>
                <ul class="sub">
                    <li><a class="{{ route == 'dashboard_categories_list' ? 'active' }}"  href="{{ path('dashboard_categories_list') }}">
                        <i class="fas fa-user-tag"></i>
                            {% trans %}Gérer mes catégories{% endtrans %}
                        </a>
                    </li>
                    <li class="muted">
                        <i class="fas fa-sitemap"></i>
                        {% trans %}Arborescence{% endtrans %}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>
